scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/wknd
        create path (nt:unstructured) /content/dam/wknd/jcr:content
            set properties on /content/dam/wknd/jcr:content
            set cq:conf{String} to /conf/wknd
            set jcr:title{String} to \"Wknd\"
        end
        create path (sling:OrderedFolder) /content/dam/wknd/partners
        create path (nt:unstructured) /content/dam/wknd/partners/jcr:content
            set properties on /content/dam/wknd/partners/jcr:content
            set jcr:title{String} to \"Partner-Owned Images\"
        end
        create path (sling:OrderedFolder) /content/dam/wknd/partners/builders
        create path (nt:unstructured) /content/dam/wknd/partners/builders/jcr:content
            set properties on /content/dam/wknd/partners/builders/jcr:content
            set jcr:title{String} to \"Builders\"
            set metadataSchema{String} to \"/conf/global/settings/dam/adminui-extension/metadataschema/partner\"
        end
        ",
        "
        create service user wknd-service-dam
        set ACL on /content/dam/wknd
            allow jcr:read,jcr:write for wknd-service-dam
        end
        ",
        "
        create path (sling:OrderedFolder) /content/wknd
        create service user wknd-service-sites
        set ACL on /content/wknd
            allow jcr:read,rep:write,jcr:workspaceManagement,jcr:retentionManagement for wknd-service-sites
        end
        ",
        "
        create path (sling:Folder) /conf/wknd
        create path (sling:Folder) /etc
        create path (sling:Folder) /etc/notification
        create path (sling:Folder) /etc/notification/email
        create path (nt:folder) /etc/notification/email/acs-commons/curvedrailing
        create path (nt:folder) /etc/notification/email/acs-commons/deckplans
        create path (nt:folder) /etc/notification/email/acs-commons/deckstarter
        create path (nt:folder) /etc/notification/email/acs-commons/detailed-results
        create path (nt:folder) /etc/notification/email/acs-commons/donationform
        create path (nt:folder) /etc/notification/email/acs-commons/getanestimate
        create path (nt:folder) /etc/notification/email/acs-commons/productcalculator
        create path (nt:folder) /etc/notification/email/acs-commons/quickestimate
        create path (nt:folder) /etc/notification/email/acs-commons/recyclingprogram
        create path (nt:folder) /etc/notification/email/acs-commons/signatureemailnotification
        create path (nt:folder) /etc/notification/email/acs-commons/testemail
        create path (nt:folder) /etc/notification/email/acs-commons/viewclaim
        create path (nt:folder) /etc/notification/email/acs-commons/warrantyregistration
        create path (nt:folder) /etc/notification/email/acs-commons/i18n
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/curvedrailing
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/deckplans
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/deckstarter
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/detailed-results
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/donationform
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/getanestimate
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/productcalculator
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/quickestimate
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/recyclingprogram
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/signatureemailnotification
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/testemail
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/viewclaim
        create path (nt:folder) /etc/notification/email/acs-commons/i18n/fr-ca/warrantyregistration
        create service user wknd-service-conf
        set ACL for wknd-service-conf
        allow jcr:read,jcr:write on /conf/wknd
        allow jcr:read on /etc/notification/email/acs-commons/curvedrailing
        allow jcr:read on /etc/notification/email/acs-commons/deckplans
        allow jcr:read on /etc/notification/email/acs-commons/deckstarter
        allow jcr:read on /etc/notification/email/acs-commons/detailed-results
        allow jcr:read on /etc/notification/email/acs-commons/donationform
        allow jcr:read on /etc/notification/email/acs-commons/getanestimate
        allow jcr:read on /etc/notification/email/acs-commons/productcalculator
        allow jcr:read on /etc/notification/email/acs-commons/quickestimate
        allow jcr:read on /etc/notification/email/acs-commons/recyclingprogram
        allow jcr:read on /etc/notification/email/acs-commons/signatureemailnotification
        allow jcr:read on /etc/notification/email/acs-commons/testemail
        allow jcr:read on /etc/notification/email/acs-commons/viewclaim
        allow jcr:read on /etc/notification/email/acs-commons/warrantyregistration
        allow jcr:read on /etc/notification/email/acs-commons/i18n
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/curvedrailing
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/deckplans
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/deckstarter
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/detailed-results
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/donationform
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/getanestimate
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/productcalculator
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/quickestimate
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/recyclingprogram
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/signatureemailnotification
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/testemail
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/viewclaim
        allow jcr:read on /etc/notification/email/acs-commons/i18n/fr-ca/warrantyregistration
        end
        "
]
