<div class="cmp-custom-teaser">
    <div class="cmp-custom-teaser__wrapper">
        <div class="cmp-custom-teaser__image-wrapper">
            <img src="https://www.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg"
                loading="lazy" class="cmp-custom-teaser__image" itemprop="contentUrl"
                alt="Lava flowing into the ocean">
        </div>
        <div class="cmp-custom-teaser__content">
            <div class="cmp-custom-teaser__content-wrapper">
                <p class="cmp-custom-teaser__pretitle">Press Release</p>
                <h2 class="cmp-custom-teaser__title"> Lorem ipsum dolor sit <sup>amet</sup>, consectetur adipisicing elit.
                    Nesciunt ipsa numquam soluta. </h2>
                <p class="cmp-custom-teaser__author">
                    By Eric Young
                </p>
                <div class="cmp-custom-teaser__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum fuga possimus ducimus adipisci reprehenderit quisquam.
                </div>
            </div>
        </div>
    </div>
</div>
